app/pages/account.pug
extends ../layouts/default

block head
	- var pageTitle = '';

block header
	include ../blocks/header/header

block content
	main.main
		section.account-section
			.container
				.account
					.account__img
						img(src="images/ball.png", alt="")
					h2.page-title Create a New Account
					h4.account__subtitle We use this information to give you the best experience.
					.account__btn_wrap
						button.account__btn 
							.account__btn-img 
								img(src="images/gmail.svg", alt="")
							h3.account__btn-title Gmail
						button.account__btn 
							.account__btn-img
								img(src="images/fb-s.svg", alt="")
							h3.account__btn-title Facebook
					h4.account__line
								span or
					form.account-form
						.account-form__wrap
							label(for="name").account-form__label Full Name * 
								
							input(type="text" name="name" id="name" placeholder="Example: John Smith" required).account-form__input
							label(for="email").account-form__label Email *
							input(type="email" name="email" id="email" placeholder="Example: johnsmith@dbinvest.com" required).account-form__input
							label(for="password").account-form__label Password *
							input(type="password" name="password" id="password" placeholder="Min 6 Characters" required).account-form__input
							label(for="name").account-form__label Username * 
								span (This will be the name displayed)
							input(type="name" name="name" id="username" placeholder="Example: John123" required).account-form__input

							form(action="formdata" method="post" name="form1" placeholder="Choose Your Country").account-form__select
								.account-form__select-text Country *
									select#list(name="list1")
										option(value="") Choose Your Country
										option(value="") Выберите из списка
										option(value="") Выберите из списка
										option(value="") Выберите из списка	

							label(for="name").account-form__label City *
							input(type="text" name="name" id="city" placeholder="Type Your City" required).account-form__input.input_bg

							.payment-checkbox 
								input(type="checkbox" id="myCheckbox")
								label(for="myCheckbox")
								h4.payment-checkbox__text I'm 18 years old, and I agree to  DBInvest's
									span
										a(href="#")
											| Terms & Conditions 
							button(type="submit").btn.secondary CREATE ACCOUNT

build/account.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>DBInvest</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="loader-wrap">
      <div class="loader"><span></span><span></span><span></span><span></span></div>
    </div>
    <div class="wrapper">
      <header class="header">
        <div class="container">
          <div class="burger js-burger"><span></span><span></span><span></span></div><a class="logo" href="index.html"><img src="images/logo-icon.svg" alt=""></a>
          <div class="user-wrap">
            <buttom class="user-btn js-member" type="button">MEMBER <span>LOG IN</span></buttom>
            <div class="user-form js-user-form">
              <form class="member-form">
                <h2 class="member-form__title">MEMBER <span>LOG IN</span></h2><a class="member-form__subtitle" href="account.html">Not a member yet ?</a>
                <div class="member-form__wrap">
                  <label class="cmember-form__label" for="email"></label>
                  <input class="member-form__input" type="email" name="email" id="emailmember" placeholder="Your email" required>
                  <label class="member-form__label" for="password"></label>
                  <div class="member-form__input-wrap">
                    <input class="member-form__input" type="password" name="password" id="passwordmember" placeholder="Your Password" required>
                    <button class="member-form__btn" type="button"></button>
                  </div><a class="member-form__forgot" href="#">Forgot Password ?</a>
                  <button class="btn secondary" type="submit">Sign In</button>
                </div>
              </form>
            </div>
          </div>
          <div class="btn-wrap"><a class="btn secondary" href="account.html">SIGN UP</a></div>
          <nav class="menu js-nav">
            <div class="container">
              <ul class="menu__list">
                <li class="menu__item"><a class="menu__link" href="index.html">Home</a></li>
                <li class="menu__item"><a class="menu__link" href="pricing.html">Plans & Pricing</a></li>
                <li class="menu__item"><a class="menu__link" href="tabs.html">About Us</a></li>
                <li class="menu__item"><a class="menu__link" href="tabs.html">Contact Us</a></li>
                <li class="menu__item js-open-faq"><a class="menu__link" href="tabs.html">FAQ</a></li>
              </ul>
            </div>
          </nav>
        </div>
      </header>
      <main class="main">
        <section class="account-section">
          <div class="container">
            <div class="account">
              <div class="account__img"><img src="images/ball.png" alt=""></div>
              <h2 class="page-title">Create a New Account</h2>
              <h4 class="account__subtitle">We use this information to give you the best experience.</h4>
              <div class="account__btn_wrap">
                <button class="account__btn"> 
                  <div class="account__btn-img"> <img src="images/gmail.svg" alt=""></div>
                  <h3 class="account__btn-title">Gmail</h3>
                </button>
                <button class="account__btn"> 
                  <div class="account__btn-img"><img src="images/fb-s.svg" alt=""></div>
                  <h3 class="account__btn-title">Facebook</h3>
                </button>
              </div>
              <h4 class="account__line"><span>or</span></h4>
              <form class="account-form">
                <div class="account-form__wrap">
                  <label class="account-form__label" for="name">Full Name * </label>
                  <input class="account-form__input" type="text" name="name" id="name" placeholder="Example: John Smith" required>
                  <label class="account-form__label" for="email">Email *</label>
                  <input class="account-form__input" type="email" name="email" id="email" placeholder="Example: johnsmith@dbinvest.com" required>
                  <label class="account-form__label" for="password">Password *</label>
                  <input class="account-form__input" type="password" name="password" id="password" placeholder="Min 6 Characters" required>
                  <label class="account-form__label" for="name">Username * <span>(This will be the name displayed)</span></label>
                  <input class="account-form__input" type="name" name="name" id="username" placeholder="Example: John123" required>
                  <form class="account-form__select" action="formdata" method="post" name="form1" placeholder="Choose Your Country">
                    <div class="account-form__select-text">Country *
                      <select id="list" name="list1">
                        <option value="">Choose Your Country</option>
                        <option value="">Выберите из списка</option>
                        <option value="">Выберите из списка</option>
                        <option value="">Выберите из списка	</option>
                      </select>
                    </div>
                  </form>
                  <label class="account-form__label" for="name">City *</label>
                  <input class="account-form__input input_bg" type="text" name="name" id="city" placeholder="Type Your City" required>
                  <div class="payment-checkbox"> 
                    <input type="checkbox" id="myCheckbox">
                    <label for="myCheckbox"></label>
                    <h4 class="payment-checkbox__text">I'm 18 years old, and I agree to  DBInvest's<span><a href="#">Terms & Conditions </a></span></h4>
                  </div>
                  <button class="btn secondary" type="submit">CREATE ACCOUNT</button>
                </div>
              </form>
            </div>
          </div>
        </section>
      </main>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="js/libs/libs.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
