app/pages/education5.pug
extends ../layouts/default

block head
	- var pageTitle = '';

block header
	include ../blocks/header/header

block content
	main.main
		section.education5-section
			.container
				.education5
					.education5__head
						img(src="images/line1.png", alt="")
						h2.education5__title HOW IT 
						h2.education5__subtitle WORKS
					.education5__content
						.education5__first-case
							a(href="education.html")
								h2.education5__first-title GO TO START
							.education5__first-line
							.education5__line-vert_small
							a(href="education4.html")
								.education5__first-field
									.education5__field-title BACK
									.education5__field-subtitle Maximize
										br
										| Your Profits
							.education5__first-line_long
							.education5__line-vert_small
							.education5__first-inner
								.education5__inner-img
									img(src="images/ladder.png", alt="")
								h2.education5__inner-title CLIMB THE
								h3.education5__inner-subtitle LEADERBOARD
						.education5__line-vert
						.education5__second-case
							.education5__second-line
							.education5__line-vert_small
							h4.education5__second-inner Once you're up and running your profits will allow you to play a part of the leaderboard.
						
						.education5__third-case
							.education5__third-image
								img(src="images/pic15.png", alt="")
							.education5__third-line
							.education5__line-vert_small
							h4.education5__fourth-inner The leaderboard is full of surprises.
							
						.education5__line-vert
						a(href="education6.html")
							.education5__fifth-case
								h4.education5__fifth-title NEXT
								h4.education5__fifth-subtitle Win Our In-House 
									br
									| Monthly Pot




block footer
	include ../blocks/footer/footer
	include ../blocks/svg-sprite/svg-sprite

build/education5.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>DBInvest</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="loader-wrap">
      <div class="loader"><span></span><span></span><span></span><span></span></div>
    </div>
    <div class="wrapper">
      <header class="header">
        <div class="container">
          <div class="burger js-burger"><span></span><span></span><span></span></div><a class="logo" href="index.html"><img src="images/logo-icon.svg" alt=""></a>
          <div class="user-wrap">
            <buttom class="user-btn js-member" type="button">MEMBER <span>LOG IN</span></buttom>
            <div class="user-form js-user-form">
              <form class="member-form">
                <h2 class="member-form__title">MEMBER <span>LOG IN</span></h2><a class="member-form__subtitle" href="account.html">Not a member yet ?</a>
                <div class="member-form__wrap">
                  <label class="cmember-form__label" for="email"></label>
                  <input class="member-form__input" type="email" name="email" id="emailmember" placeholder="Your email" required>
                  <label class="member-form__label" for="password"></label>
                  <div class="member-form__input-wrap">
                    <input class="member-form__input" type="password" name="password" id="passwordmember" placeholder="Your Password" required>
                    <button class="member-form__btn" type="button"></button>
                  </div><a class="member-form__forgot" href="#">Forgot Password ?</a>
                  <button class="btn secondary" type="submit">Sign In</button>
                </div>
              </form>
            </div>
          </div>
          <div class="btn-wrap"><a class="btn secondary" href="account.html">SIGN UP</a></div>
          <nav class="menu js-nav">
            <div class="container">
              <ul class="menu__list">
                <li class="menu__item"><a class="menu__link" href="index.html">Home</a></li>
                <li class="menu__item"><a class="menu__link" href="pricing.html">Plans & Pricing</a></li>
                <li class="menu__item"><a class="menu__link" href="tabs.html">About Us</a></li>
                <li class="menu__item"><a class="menu__link" href="tabs.html">Contact Us</a></li>
                <li class="menu__item js-open-faq"><a class="menu__link" href="tabs.html">FAQ</a></li>
              </ul>
            </div>
          </nav>
        </div>
      </header>
      <main class="main">
        <section class="education5-section">
          <div class="container">
            <div class="education5">
              <div class="education5__head"><img src="images/line1.png" alt="">
                <h2 class="education5__title">HOW IT </h2>
                <h2 class="education5__subtitle">WORKS</h2>
              </div>
              <div class="education5__content">
                <div class="education5__first-case"><a href="education.html">
                    <h2 class="education5__first-title">GO TO START</h2></a>
                  <div class="education5__first-line"></div>
                  <div class="education5__line-vert_small"></div><a href="education4.html">
                    <div class="education5__first-field">
                      <div class="education5__field-title">BACK</div>
                      <div class="education5__field-subtitle">Maximize<br>Your Profits</div>
                    </div></a>
                  <div class="education5__first-line_long"></div>
                  <div class="education5__line-vert_small"></div>
                  <div class="education5__first-inner">
                    <div class="education5__inner-img"><img src="images/ladder.png" alt=""></div>
                    <h2 class="education5__inner-title">CLIMB THE</h2>
                    <h3 class="education5__inner-subtitle">LEADERBOARD</h3>
                  </div>
                </div>
                <div class="education5__line-vert"></div>
                <div class="education5__second-case">
                  <div class="education5__second-line"></div>
                  <div class="education5__line-vert_small"></div>
                  <h4 class="education5__second-inner">Once you're up and running your profits will allow you to play a part of the leaderboard.</h4>
                </div>
                <div class="education5__third-case">
                  <div class="education5__third-image"><img src="images/pic15.png" alt=""></div>
                  <div class="education5__third-line"></div>
                  <div class="education5__line-vert_small"></div>
                  <h4 class="education5__fourth-inner">The leaderboard is full of surprises.</h4>
                </div>
                <div class="education5__line-vert"></div><a href="education6.html">
                  <div class="education5__fifth-case">
                    <h4 class="education5__fifth-title">NEXT</h4>
                    <h4 class="education5__fifth-subtitle">Win Our In-House <br>Monthly Pot</h4>
                  </div></a>
              </div>
            </div>
          </div>
        </section>
      </main>
      <footer class="footer">
        <div class="top-footer">
          <div class="container">
            <ul class="soc">
              <li class="soc__item"><a class="soc__link" href="#">
                  <svg>
                    <use xlink:href="#soc-youtube"></use>
                  </svg></a></li>
              <li class="soc__item"><a class="soc__link" href="#">
                  <svg>
                    <use xlink:href="#soc-facebook"></use>
                  </svg></a></li>
              <li class="soc__item"><a class="soc__link" href="#">
                  <svg>
                    <use xlink:href="#soc-twitter"></use>
                  </svg></a></li>
            </ul>
            <nav class="nav"><span class="nav__title">Home</span>
              <ul class="nav__list">
                <li class="nav__item"><a class="nav__link" href="#">Sign In</a></li>
                <li class="nav__item"><a class="nav__link" href="account.html">Sign Up</a></li>
                <li class="nav__item"><a class="nav__link" href="pricing.html">Plans & Pricing</a></li>
              </ul>
            </nav>
            <nav class="nav"><span class="nav__title">COMPANY</span>
              <ul class="nav__list">
                <li class="nav__item"><a class="nav__link" href="tabs.html">About</a></li>
                <li class="nav__item"><a class="nav__link" href="tabs.html">Contact Us </a></li>
                <li class="nav__item"><a class="nav__link" href="tabs.html">FAQ</a></li>
              </ul>
            </nav>
            <nav class="nav"><span class="nav__title">Legal</span>
              <ul class="nav__list">
                <li class="nav__item"><a class="nav__link" href="tabs.html">Terms & Conditions</a></li>
                <li class="nav__item"><a class="nav__link" href="tabs.html">Privacy Policy</a></li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="bottom-footer">
          <div class="container">
            <p class="footer-text">The content on dontbetinvest.com is for informational and educational purposes only and should not be construed as professional financial advice. Should you need such advice, consult a licensed financial or tax advisor. References to products, offers, and rates from third party sites often change. While we do our best to keep these updated, numbers stated on this site may differ from actual numbers. We may have financial relationships with some of the companies mentioned on this website. Among other things, we may receive free products, services, and/or monetary compensation in exchange for featured placement of sponsored products or services. We strive to write accurate and genuine reviews and articles, and all views and opinions expressed are solely those of the authors.</p><span class="copyright">© 2016–2020 <span class="regular-text">LET Investing Limited</span></span><span class="copyright">All rights reserved.</span>
          </div>
        </div>
      </footer>
      <div class="svg-wrap">
        <svg xmlns="http://www.w3.org/2000/svg">
          <symbol viewBox="0 0 512 512" id="soc-youtube">
            <path d="M490.24,113.92c-13.888-24.704-28.96-29.248-59.648-30.976C399.936,80.864,322.848,80,256.064,80c-66.912,0-144.032,0.864-174.656,2.912c-30.624,1.76-45.728,6.272-59.744,31.008C7.36,138.592,0,181.088,0,255.904C0,255.968,0,256,0,256c0,0.064,0,0.096,0,0.096v0.064c0,74.496,7.36,117.312,21.664,141.728c14.016,24.704,29.088,29.184,59.712,31.264C112.032,430.944,189.152,432,256.064,432c66.784,0,143.872-1.056,174.56-2.816c30.688-2.08,45.76-6.56,59.648-31.264C504.704,373.504,512,330.688,512,256.192c0,0,0-0.096,0-0.16c0,0,0-0.064,0-0.096C512,181.088,504.704,138.592,490.24,113.92z M192,352V160l160,96L192,352z"></path>
          </symbol>
          <symbol viewBox="0 0 24 24" id="soc-facebook">
            <path d="m15.997 3.985h2.191v-3.816c-.378-.052-1.678-.169-3.192-.169-3.159 0-5.323 1.987-5.323 5.639v3.361h-3.486v4.266h3.486v10.734h4.274v-10.733h3.345l.531-4.266h-3.877v-2.939c.001-1.233.333-2.077 2.051-2.077z"></path>
          </symbol>
          <symbol viewBox="0 0 512 512" id="soc-twitter">
            <path d="M512,97.248c-19.04,8.352-39.328,13.888-60.48,16.576c21.76-12.992,38.368-33.408,46.176-58.016c-20.288,12.096-42.688,20.64-66.56,25.408C411.872,60.704,384.416,48,354.464,48c-58.112,0-104.896,47.168-104.896,104.992c0,8.32,0.704,16.32,2.432,23.936c-87.264-4.256-164.48-46.08-216.352-109.792c-9.056,15.712-14.368,33.696-14.368,53.056c0,36.352,18.72,68.576,46.624,87.232c-16.864-0.32-33.408-5.216-47.424-12.928c0,0.32,0,0.736,0,1.152c0,51.008,36.384,93.376,84.096,103.136c-8.544,2.336-17.856,3.456-27.52,3.456c-6.72,0-13.504-0.384-19.872-1.792c13.6,41.568,52.192,72.128,98.08,73.12c-35.712,27.936-81.056,44.768-130.144,44.768c-8.608,0-16.864-0.384-25.12-1.44C46.496,446.88,101.6,464,161.024,464c193.152,0,298.752-160,298.752-298.688c0-4.64-0.16-9.12-0.384-13.568C480.224,136.96,497.728,118.496,512,97.248z"></path>
          </symbol>
        </svg>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="js/libs/libs.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
