build/payment.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>DBInvest</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="loader-wrap">
      <div class="loader"><span></span><span></span><span></span><span></span></div>
    </div>
    <div class="wrapper">
      <header class="header">
        <div class="container">
          <div class="burger js-burger"><span></span><span></span><span></span></div><a class="logo" href="index.html"><img src="images/logo-icon.svg" alt=""></a>
          <div class="user-wrap">
            <buttom class="user-btn js-member" type="button">MEMBER <span>LOG IN</span></buttom>
            <div class="user-form js-user-form">
              <form class="member-form">
                <h2 class="member-form__title">MEMBER <span>LOG IN</span></h2><a class="member-form__subtitle" href="account.html">Not a member yet ?</a>
                <div class="member-form__wrap">
                  <label class="cmember-form__label" for="email"></label>
                  <input class="member-form__input" type="email" name="email" id="emailmember" placeholder="Your email" required>
                  <label class="member-form__label" for="password"></label>
                  <div class="member-form__input-wrap">
                    <input class="member-form__input" type="password" name="password" id="passwordmember" placeholder="Your Password" required>
                    <button class="member-form__btn" type="button"></button>
                  </div><a class="member-form__forgot" href="#">Forgot Password ?</a>
                  <button class="btn secondary" type="submit">Sign In</button>
                </div>
              </form>
            </div>
          </div>
          <div class="btn-wrap"><a class="btn secondary" href="account.html">SIGN UP</a></div>
          <nav class="menu js-nav">
            <div class="container">
              <ul class="menu__list">
                <li class="menu__item"><a class="menu__link" href="index.html">Home</a></li>
                <li class="menu__item"><a class="menu__link" href="pricing.html">Plans & Pricing</a></li>
                <li class="menu__item"><a class="menu__link" href="tabs.html">About Us</a></li>
                <li class="menu__item"><a class="menu__link" href="tabs.html">Contact Us</a></li>
                <li class="menu__item js-open-faq"><a class="menu__link" href="tabs.html">FAQ</a></li>
              </ul>
            </div>
          </nav>
        </div>
      </header>
      <main class="main">
        <section class="payment-section">
          <div class="container">
            <div class="payment">
              <div class="payment__img"><img src="images/ball.png" alt=""></div>
              <h2 class="page-title">We Will Not Charge You !</h2>
              <h4 class="payment__subtitle">We ask for your payment information to provide security and a seamless subscription experience. You can cancel anytime to avoid being charged and we’ll even send an email reminder 2 days before the trial ends.</h4>
              <div class="payment__wrap">
                <div class="payment__img_next"><img src="images/paypal.svg" alt=""></div>
                <h4 class="payment__text">Pay with PayPal</h4>
              </div>
              <form class="payment-form">
                <div class="payment-form__wrap">
                  <input class="payment-form__input" type="email" name="email" id="email" placeholder="Email" required>
                  <input class="payment-form__input" type="password" name="password" id="password" placeholder="Password" required>
                  <div class="payment-checkbox"> 
                    <input type="checkbox" id="myCheckbox">
                    <label for="myCheckbox"></label>
                    <h4 class="payment-checkbox__text">Stay logged in for faster checkout<span>Not recommended on shared devices</span></h4>
                  </div>
                  <button class="btn secondary" type="submit">LOG IN</button><a href="#">
                    <h4 class="payment__issue">Having trouble logging in ?</h4></a>
                  <h4 class="payment__line"><span>or </span></h4>
                  <div class="payment__btn">
                    <button class="btn secondary">Pay with Debit or Credit Card</button>
                  </div><a href="#">
                    <h4 class="payment__issue_next">Cancel and return</h4></a>
                </div>
              </form>
            </div>
          </div>
        </section>
      </main>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="js/libs/libs.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>

app/pages/payment.pug
extends ../layouts/default

block head
	- var pageTitle = '';

block header
	include ../blocks/header/header

block content
	main.main
		section.payment-section
			.container
				.payment
					.payment__img
						img(src="images/ball.png", alt="")
					h2.page-title We Will Not Charge You !
					h4.payment__subtitle We ask for your payment information to provide security and a seamless subscription experience. You can cancel anytime to avoid being charged and we’ll even send an email reminder 2 days before the trial ends.
					.payment__wrap
						.payment__img_next
							img(src="images/paypal.svg", alt="")
						h4.payment__text Pay with PayPal
					
					form.payment-form
						.payment-form__wrap
							input(type="email" name="email" id="email" placeholder="Email" required).payment-form__input
							input(type="password" name="password" id="password" placeholder="Password" required).payment-form__input
							.payment-checkbox 
								input(type="checkbox" id="myCheckbox")
								label(for="myCheckbox")
								h4.payment-checkbox__text Stay logged in for faster checkout
									span Not recommended on shared devices
							button(type="submit").btn.secondary LOG IN
							a(href="#")
								h4.payment__issue Having trouble logging in ?
							h4.payment__line
								span or 
							.payment__btn
								button.btn.secondary Pay with Debit or Credit Card
							a(href="#")
								h4.payment__issue_next Cancel and return
