app/pages/plan.pug
extends ../layouts/default

block head
	- var pageTitle = '';

block header
	include ../blocks/header/header

block content
	main.main
		section.plan-section
			.container
				.plan
					.plan__img
						img(src="images/ball.png", alt="")
					h2.page-title Choose Your Plan
					.plan__switch
						.plan__switch-title Monthly
						.plan__switch-btn
							form(action="#" id="").switch-form
									.switch-form__field
										input(type='radio', name='switch-one', value='Basic', id="radio-one-fourth", class="basic-input" checked)
										label(for='radio-one-fourth').js-month
										input(type='radio', name='switch-one', value='Premium' id="radio-two-fourth", class="premium-input")
										label(for='radio-two-fourth').js-year
						.plan__switch-title Yearly
					.plan__wrap
						.plan__top-case
							h2.plan__title 7 DAY TRIAL
							h3.plan__subtitle You will have a 7 day trial of the professional package, no matter what you choose. You will not be charged for the first 7 days and you can cancel subscription any time.
						.plan__content
							.plan__rate
								h3.plan__rate-title Professional
								.plan__rate-wrap.js-rate
									h2.plan__rate-subtitle 15
										span $
									h2.plan__rate-subtitle 180
										span $
								ul.plan__rate-list
									li.plan__list-title.plan__list-title_green All Summer Leagues
										span We cover 52 summer leagues.
									li.plan__list-title.plan__list-title_green All Winter Leagues
										span We cover 52 summer leagues.
									li.plan__list-title.plan__list-title_green Champions League
										span We cover 52 summer leagues.
									li.plan__list-title.plan__list-title_green International Cups
										span We cover 52 summer leagues.
									li.plan__list-title.plan__list-title_green All Markets
										span We cover 52 summer leagues.
									li.plan__list-title.plan__list-title_green All Filters
										span We cover 52 summer leagues.
									li.plan__list-title.plan__list-title_green Education Library
										span We cover 52 summer leagues.
									li.plan__list-title.plan__list-title_green DB Invest Algorithm
										span We cover 52 summer leagues.
									li.plan__list-title.plan__list-title_green 1 Free Reset
										span We cover 52 summer leagues.
									li.plan__list-title.plan__list-title_green Enters In-House Pot
										span We cover 52 summer leagues.
								button(type="button").plan__btn Choose Plan
							.plan__rate
								h3.plan__rate-title Basic
								.plan__rate-wrap.js-rate
									h2.plan__rate-subtitle 10
										span $
									h2.plan__rate-subtitle 120
										span $
								ul.plan__rate-list
									li.plan__list-title.plan__list-title_green All Summer Leagues
										span We cover 52 summer leagues.
									li.plan__list-title.plan__list-title_green All Winter Leagues
										span We cover 52 summer leagues.
									li.plan__list-title.plan__list-title_red Champions League
										span We cover 52 summer leagues.
									li.plan__list-title.plan__list-title_red International Cups
										span We cover 52 summer leagues.
									li.plan__list-title.plan__list-title_green All Markets
										span We cover 52 summer leagues.
									li.plan__list-title.plan__list-title_red All Filters
										span We cover 52 summer leagues.
									li.plan__list-title.plan__list-title_green Education Library
										span We cover 52 summer leagues.
									li.plan__list-title.plan__list-title_green DB Invest Algorithm
										span We cover 52 summer leagues.
									li.plan__list-title.plan__list-title_red 1 Free Reset
										span We cover 52 summer leagues.
									li.plan__list-title.plan__list-title_green Enters In-House Pot
										span We cover 52 summer leagues.
								button(type="button").plan__btn Choose Plan

build/plan.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>DBInvest</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="loader-wrap">
      <div class="loader"><span></span><span></span><span></span><span></span></div>
    </div>
    <div class="wrapper">
      <header class="header">
        <div class="container">
          <div class="burger js-burger"><span></span><span></span><span></span></div><a class="logo" href="index.html"><img src="images/logo-icon.svg" alt=""></a>
          <div class="user-wrap">
            <buttom class="user-btn js-member" type="button">MEMBER <span>LOG IN</span></buttom>
            <div class="user-form js-user-form">
              <form class="member-form">
                <h2 class="member-form__title">MEMBER <span>LOG IN</span></h2><a class="member-form__subtitle" href="account.html">Not a member yet ?</a>
                <div class="member-form__wrap">
                  <label class="cmember-form__label" for="email"></label>
                  <input class="member-form__input" type="email" name="email" id="emailmember" placeholder="Your email" required>
                  <label class="member-form__label" for="password"></label>
                  <div class="member-form__input-wrap">
                    <input class="member-form__input" type="password" name="password" id="passwordmember" placeholder="Your Password" required>
                    <button class="member-form__btn" type="button"></button>
                  </div><a class="member-form__forgot" href="#">Forgot Password ?</a>
                  <button class="btn secondary" type="submit">Sign In</button>
                </div>
              </form>
            </div>
          </div>
          <div class="btn-wrap"><a class="btn secondary" href="account.html">SIGN UP</a></div>
          <nav class="menu js-nav">
            <div class="container">
              <ul class="menu__list">
                <li class="menu__item"><a class="menu__link" href="index.html">Home</a></li>
                <li class="menu__item"><a class="menu__link" href="pricing.html">Plans & Pricing</a></li>
                <li class="menu__item"><a class="menu__link" href="tabs.html">About Us</a></li>
                <li class="menu__item"><a class="menu__link" href="tabs.html">Contact Us</a></li>
                <li class="menu__item js-open-faq"><a class="menu__link" href="tabs.html">FAQ</a></li>
              </ul>
            </div>
          </nav>
        </div>
      </header>
      <main class="main">
        <section class="plan-section">
          <div class="container">
            <div class="plan">
              <div class="plan__img"><img src="images/ball.png" alt=""></div>
              <h2 class="page-title">Choose Your Plan</h2>
              <div class="plan__switch">
                <div class="plan__switch-title">Monthly</div>
                <div class="plan__switch-btn">
                  <form class="switch-form" action="#" id="">
                    <div class="switch-form__field">
                      <input class="basic-input" type="radio" name="switch-one" value="Basic" id="radio-one-fourth" checked>
                      <label class="js-month" for="radio-one-fourth"></label>
                      <input class="premium-input" type="radio" name="switch-one" value="Premium" id="radio-two-fourth">
                      <label class="js-year" for="radio-two-fourth"></label>
                    </div>
                  </form>
                </div>
                <div class="plan__switch-title">Yearly</div>
              </div>
              <div class="plan__wrap">
                <div class="plan__top-case">
                  <h2 class="plan__title">7 DAY TRIAL</h2>
                  <h3 class="plan__subtitle">You will have a 7 day trial of the professional package, no matter what you choose. You will not be charged for the first 7 days and you can cancel subscription any time.</h3>
                </div>
                <div class="plan__content">
                  <div class="plan__rate">
                    <h3 class="plan__rate-title">Professional</h3>
                    <div class="plan__rate-wrap js-rate">
                      <h2 class="plan__rate-subtitle">15<span>$</span></h2>
                      <h2 class="plan__rate-subtitle">180<span>$</span></h2>
                    </div>
                    <ul class="plan__rate-list">
                      <li class="plan__list-title plan__list-title_green">All Summer Leagues<span>We cover 52 summer leagues.</span></li>
                      <li class="plan__list-title plan__list-title_green">All Winter Leagues<span>We cover 52 summer leagues.</span></li>
                      <li class="plan__list-title plan__list-title_green">Champions League<span>We cover 52 summer leagues.</span></li>
                      <li class="plan__list-title plan__list-title_green">International Cups<span>We cover 52 summer leagues.</span></li>
                      <li class="plan__list-title plan__list-title_green">All Markets<span>We cover 52 summer leagues.</span></li>
                      <li class="plan__list-title plan__list-title_green">All Filters<span>We cover 52 summer leagues.</span></li>
                      <li class="plan__list-title plan__list-title_green">Education Library<span>We cover 52 summer leagues.</span></li>
                      <li class="plan__list-title plan__list-title_green">DB Invest Algorithm<span>We cover 52 summer leagues.</span></li>
                      <li class="plan__list-title plan__list-title_green">1 Free Reset<span>We cover 52 summer leagues.</span></li>
                      <li class="plan__list-title plan__list-title_green">Enters In-House Pot<span>We cover 52 summer leagues.</span></li>
                    </ul>
                    <button class="plan__btn" type="button">Choose Plan</button>
                  </div>
                  <div class="plan__rate">
                    <h3 class="plan__rate-title">Basic</h3>
                    <div class="plan__rate-wrap js-rate">
                      <h2 class="plan__rate-subtitle">10<span>$</span></h2>
                      <h2 class="plan__rate-subtitle">120<span>$</span></h2>
                    </div>
                    <ul class="plan__rate-list">
                      <li class="plan__list-title plan__list-title_green">All Summer Leagues<span>We cover 52 summer leagues.</span></li>
                      <li class="plan__list-title plan__list-title_green">All Winter Leagues<span>We cover 52 summer leagues.</span></li>
                      <li class="plan__list-title plan__list-title_red">Champions League<span>We cover 52 summer leagues.</span></li>
                      <li class="plan__list-title plan__list-title_red">International Cups<span>We cover 52 summer leagues.</span></li>
                      <li class="plan__list-title plan__list-title_green">All Markets<span>We cover 52 summer leagues.</span></li>
                      <li class="plan__list-title plan__list-title_red">All Filters<span>We cover 52 summer leagues.</span></li>
                      <li class="plan__list-title plan__list-title_green">Education Library<span>We cover 52 summer leagues.</span></li>
                      <li class="plan__list-title plan__list-title_green">DB Invest Algorithm<span>We cover 52 summer leagues.</span></li>
                      <li class="plan__list-title plan__list-title_red">1 Free Reset<span>We cover 52 summer leagues.</span></li>
                      <li class="plan__list-title plan__list-title_green">Enters In-House Pot<span>We cover 52 summer leagues.</span></li>
                    </ul>
                    <button class="plan__btn" type="button">Choose Plan</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="js/libs/libs.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
